# Server
NODE_ENV=development
PORT=3003

# Database
DB_HOST=db
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_DATABASE=challenge_db

# RabbitMQ
RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672
RABBITMQ_TASKS_QUEUE=tasks_queue
RABBITMQ_EVENTS_EXCHANGE=task_events
